.post__comments {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  .comment__form {
    margin: 0px 20px 20px 20px;
  }
  .comment__wrapper {
    display: flex;
    width: inherit;
    background-color: #fafafa;
    border-radius: 11px;
    border: 1px solid lightgray;
  }
  .comment__wrapper input {
    width: 70%;
    border: none;
    background: transparent;
  }
  .comment__wrapper input:focus {
    border: none;
  }
  .comment__wrapper button {
    width: 30%;
    text-align: center;
  }
  .post__image{
    width:100vw;
    height: 100vmin;
  }