.post{
  color:black;
  margin-bottom: 50px;
  background-color: ghostwhite;
  width: 100%;
  max-width: 450px;
  padding: 20px;
  border-radius: 10px;
  border:1px solid lightgray;
  position: relative;
  margin-left: 5%;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
  float:left;
  margin-right:20px;
}

.comment__form {
  margin: 0px 20px 20px 20px;
}


.post__comments  {
    margin-bottom: 10px;
    background-color: white;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border-radius: 15px;
    border:1px solid lightgray;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
    justify-content: space-around;
  }
  
  .comment__wrapper  {
    
    background-color: lightgray;
    border-radius: 8px;
    border: 1px solid lightgray;
    max-width:90%;
    margin: 5px;
  }
  .comment__wrapper input {
    width: 90%;
    border: none;
    background: transparent;
  }
  .comment__wrapper input:focus {
    border: none;
  }
  .comment__wrapper button {
    width: 50px;
    height: 4.5vh;
    padding: 2px;
    text-align: center;
    border: 1.5px solid #0095f6;
    border-radius: 0.5rem;
  }
  .post__image{
    width:100%;
    max-width: 400px;
    max-height: 250px;
    transition: 0.4s;
    vertical-align: bottom;
  }
  .user__name{
    font-size:1rem;
    color:gray;
  }
  .post__marketprice{
    font-size: 1.5vh;
    text-align: right;
    color: gray;
  }
  .post__marketprice span{
    font-size: 2.5vh;
    color:rgb(0, 0, 0)
  }
  .post__text{
    margin:10px 0;
  }