* {
    margin: 0; 
}

.app{
    background-color: #fafafa;
    height: 100vh;
}

.NoticeheaderImage{
    background-color: white;
    padding: 1px;
    border-bottom: 1px solid lightgray;
    object-fit: contain;
}


