.MainContainer{
    background-image: url(./assets/MainBg\ \(1\).png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height: auto;
}

/* 추가 */