
.custom-btn{
  font-family: 'assddfont';
  margin: 10px;
  border-radius: 5px;
  padding: 10px 25px;
  width:16vw;
  min-width: 150px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
   background: linear-gradient(0deg, black 0%, black 100%);
   color: #fff;
}
.custom-btn:hover {
  color: black;
  background: transparent;
  box-shadow:none;
}
.custom-btn::before,
.custom-btn::after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:10px;
  width:0;
  background: black;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.custom-btn::after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.custom-btn:hover::before,
.custom-btn:hover::after{
  width:100%;
  transition:800ms ease all;
}
.questionitem>button{
  font-family: 'assddfont';
  width: 600px;
  border-radius: 10px;
  margin: 15px auto;
  padding: 20px;
  border: 1px solid black;
}
