
@font-face {
  font-family: 'assddfont';
  src: url(../assets/font/assddfont.ttf);
}
.testmain{
  font-family: 'assddfont';
  height:100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.testTextContainer{
  width:100vw;
  text-align: center;
  margin:2vh;
  display:grid;
}
.testQuestionMain{
  height: 100vh;
  width: 100vw;
  display: grid;
  margin:0;
}
.testquestion{
  font-family: 'assddfont';
  text-align: center;
  display: grid;
}
.questionitem{
  // margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.questionitem>h1{
  margin-bottom: 30px;
}
.questionitem>img{
  display: block; 
  margin: 0px auto;
}
.testresult{
  height:100vh;
  font-family: 'assddfont';
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
