
@font-face {
  font-family: 'assddfont';
  src: url(../assets/font/assddfont.ttf);
}
.testmain{
  font-family: 'assddfont';
  height:100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.testQuestionMain{
  height:100vh;
}
.testquestion{
  font-family: 'assddfont';
  height:100vh;
  text-align: center;
}
.questionitem{
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.questionitem>h1{
  margin-bottom: 30px;
}
.questionitem>img{
  display: block; 
  margin: 0px auto;
}
.testresult{
  height:100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
