.imageUpload{
background-color:#F9F9F9;
width: 350px;
height: 80px;
box-sizing: border-box;
border-radius: 10px;
justify-content: center;
align-items: center;
margin : 0 auto;
margin-bottom: 20px;
text-align: center;
}

.textwir{
  background-color:#FFF3F3;
  width: 350px;
  border-radius: 10px;
}
.progress{
  width: 100%;
} 

  .uploadCapBtn {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }

  .uploadBtn {
    width: 20%;

  }